.show {}
.banner {
    background-color: rgb(18, 169, 33);
    position: relative;
    overflow: auto;
    width: 100%;
    aspect-ratio: 1584 / 396;
    /* height: 396px;
    width: 1584px; */
    margin-bottom: 20px;
    /* background-image: url('https://images3.alphacoders.com/133/1338701.png'); */
    background-image: url('../assets/bg1.png');
}
.banner h1 {
    width: -moz-fit-content;
    width: fit-content;
}
.profile {
    position: relative;
    background-color: indianred;
}
.profile-photo img {
    position: absolute;
    z-index: 1;
    width: 20%;
    aspect-ratio: 1;
    border: 5px solid beige;
    border-radius: 600px;
    margin-left: 1em;
    top: 50%;
}
.draggable {
    padding: 20px;
    border: 1px solid #ddd;
}
.toolbar {
    border-radius: 50px;
    padding: 20px;
}
.item {
    color: white;
}
#name {
    font-size: 4em;
    position: absolute;
    right: 30%;
    bottom: 30%;
}
#job {
    font-size: 2em;
}
.flexbox {
    display: flex;
    flex-direction: row;
}
.labelimagebox {
    position: relative;
    width: 200px;
    margin-right: 15px;
}
.labelimagebox img {
    width: 100%;
}
.labelimagebox span {
    position: absolute;
    z-index: 2;
    color: black;
    left: 20%;
    bottom: 0;
    margin-bottom: 10px;
}